@model Proiect_Tudose_Baias.Models.Order
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var order in ViewBag.Orders)
{
    <h2>@order.OrderId</h2>
    @*<h3>@order.OrderAdress</h3>*@
    @*<h4>@order.product</h4>*@
    <a href="/Orders/Show/@order.OrderId">Afisare comanda</a>
    <br />
    <hr />
    <br />
}
<a href="/Orders/Index/">Afisare lista comenzi</a>
<br />
<a href="/Orders/New">Adauga comanda</a>
<br />
