@{
    ViewBag.Title = "Despre site-ul nostru";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3><b>Proiect Online Shop</b></h3>
<p>Baias Andrei-Bogdan & Tudose Andrei-Daniel</p>
<p>Grupa 244</p>
<p>Anul II, informatica</p>
